.searchItem {
  display: flex;
}
.buttonDelete {
  margin-left: 5px;
}
.searchCard {
  width: 95%;
  padding: 5px;
  display: flex;
}
.formElement-label {
  width: 25%;
  margin-right: 2px;
}
.formElement-symbol {
  width: 25%;
  margin-right: 2px;
}
.formElement-input {
  display: inline-block;
  width: 50%;
}

.formElement-wo-input-symbol {
  width: 35%;
}

.formElement-wo-input-label {
  width: 65%;
  margin-right: 2px;
}

.formElement-input-invisible {
  display: none;
}
