.patientAge {
  margin-top: 5px;
  text-align: left;
}

.patientAgeContent {
  text-align: justify;
  display: flex;
}

.secondContent {
  color: grey;
  margin-left: 5px;
}

.unknownValue {
  color: grey;
}