.patientInfo {
  margin-top: 5px;
  display: flex;
}

.patientTag {
  text-align: right;
  width: 20%;
  margin-right: 5px;
}

.patientInfoContent {
  width: 70%;
  text-align: justify;
  display: flex;
}

.secondContent {
  color: grey;
  margin-left: 5px;
}

.unknownValue {
  color: grey;
}