.aligned {
    display: flex;
}

.card {
    margin: 5px;
    padding: 2px;
}

.disabled-link-style:hover {
    color: inherit;
    text-decoration: none;
}

.disabled-link-style {
    color: inherit;
    text-decoration: none;
}