.aligned {
    display: flex;
    align-content: space-between;
}

.card {
    margin: 5px;
    padding: 2px;
    vertical-align: middle;
    height: 40px;
}

.disabled-link-style:hover {
    color: inherit;
    text-decoration: none;
}

.disabled-link-style {
    color: inherit;
    text-decoration: none;
}

.nipCard {
    width: 40%;
    display: flex;
    overflow-wrap: break-word;
}

.nipText {
    overflow-y: auto;
    width: 80%;
}

.nameCard {
    text-align: left;
    overflow-y: auto;
    width: 30%;
}

.birthDateCard {
    width: 30%;
    display: flex;
}

.patientList {
    height: 90%;
    overflow-x: auto;
}