.validationButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.buttonAdd {
  margin: 5px;
  float: right;
}

.searchItems {
  height: 80%;
  overflow-x: auto;
}

.icon-title {
  transform: translateY(-20%);
}

.hidden {
  display: none;
}