.validationButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.buttonAdd {
  margin: 5px;
  float: right;
}

.searchItem {
  margin: 3px;
}

.searchItems {
  height: 90%;
  overflow-x: auto;
}

.icon-title {
  transform: translateY(-20%);
}

.hidden {
  display: none;
}

.advancedResearchButton {
  float: right;
}

.smaller {
  width: 95%
}