.patientCard {
  width: 50%;
  margin: 3px;
  overflow-x: auto;
}

.hospitCard {
  width: 50%;
  margin: 3px;
  overflow-x: auto;
}

.patientGeneral {
  display: flex;
  height: 30%;
}

.patientFill {
  height: calc(100vh - 50px);
}
