@import "~@blueprintjs/core/lib/css/blueprint.css";

#navbar {
  background-color: black;
}

.bp3-icon {
  margin-right: 5px;
}

.linkNavbar {
  text-decoration: none;
  display: flex;
}

#titleNavbar {
  margin: 0px 0px 0px 9px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.linkNavbar:hover {
  text-decoration: none;
}
