.icon-title {
  transform: translateY(-20%);
}

.infoPatient {
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.leftButton {
  text-align: left;
}

.rightButton {
  text-align: right
}